!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookman
    = csrf_meta_tags
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'
    = stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body
    #app
    = yield
